.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /*colunas que se repetem automaticamente, com tamanho minimo de 300px e maximo de 1fr*/
  gap: 2rem;
  padding: 1rem;
}
